<style>
		
</style>

<!--Title-->
<div  id="titleBar">
	<h2>CONNECT FOUR</h2>
</div>
<!--Player Settings-->

<!--Table game space-->
<div class="col1" id="gameArea">
	<table id="gameTable">
	  <tr>
		<td class="col1" id="a1">-</td>
		<td class="col2" id="b1">-</td>
		<td class="col3" id="c1">-</td>
		<td class="col4" id="d1">-</td>
		<td class="col5" id="e1">-</td>
		<td class="col6" id="f1">-</td>
		<td class="col7" id="g1">-</td>
	  </tr>
	  <tr>
		<td class="col1" id="a2">-</td>
		<td class="col2" id="b2">-</td>
		<td class="col3" id="c2">-</td>
		<td class="col4" id="d2">-</td>
		<td class="col5" id="e2">-</td>
		<td class="col6" id="f2">-</td>
		<td class="col7" id="g2">-</td>
	  </tr>
	  <tr>
		<td class="col1" id="a3">-</td>
		<td class="col2" id="b3">-</td>
		<td class="col3" id="c3">-</td>
		<td class="col4" id="d3">-</td>
		<td class="col5" id="e3">-</td>
		<td class="col6" id="f3">-</td>
		<td class="col7" id="g3">-</td>
	  </tr>
	  <tr>
		<td class="col1" id="a4">-</td>
		<td class="col2" id="b4">-</td>
		<td class="col3" id="c4">-</td>
		<td class="col4" id="d4">-</td>
		<td class="col5" id="e4">-</td>
		<td class="col6" id="f4">-</td>
		<td class="col7" id="g4">-</td>
	  </tr>
	  <tr>
		<td class="col1" id="a5">-</td>
		<td class="col2" id="b5">-</td>
		<td class="col3" id="c5">-</td>
		<td class="col4" id="d5">-</td>
		<td class="col5" id="e5">-</td>
		<td class="col6" id="f5">-</td>
		<td class="col7" id="g5">-</td>
	  </tr>
	  <tr>
		<td class="col1" id="a6">-</td>
		<td class="col2" id="b6">-</td>
		<td class="col3" id="c6">-</td>
		<td class="col4" id="d6">-</td>
		<td class="col5" id="e6">-</td>
		<td class="col6" id="f6">-</td>
		<td class="col7" id="g6">-</td>
	  </tr>
	</table>
</div>

<!--Player Options-->
<div id="playerOptions">
	</br><button type="button" id="refresh">New Game</button>
</div>
